PRIVATE_KEY=
TOKEN_ADDRESS=
LZ_ENDPOINT=
DELEGATE_ADDRESS=

# Vana Network specific settings
VANA_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000  # Set to actual Vana token address

# RPC URLs for different networks
RPC_URL_MAINNET=
RPC_URL_BSC=
RPC_URL_SEPOLIA=
RPC_URL_AMOY=
RPC_URL_VANA_TESTNET=https://rpc.satori.vana.org
# RPC_URL_VANA_MAINNET=https://rpc.vana.org  # To be added when mainnet is supported