PRIVATE_KEY=
TOKEN_ADDRESS=
LZ_ENDPOINT=
DELEGATE_ADDRESS=

# RPC URLs for different networks
RPC_URL_MAINNET=
RPC_URL_BSC=
RPC_URL_SEPOLIA=
RPC_URL_AMOY=
RPC_URL_VANA_TESTNET=
# RPC_URL_VANA_MAINNET= # To be added when mainnet is supported